<!DOCTYPE html>
<html>
<body>
<mat-card>
<mat-toolbar>
  <span>{{header}}</span>
</mat-toolbar>
  <mat-card-content>
    <div>
    <mat-button-toggle-group #group="matButtonToggleGroup" value="{{inputSize}}" (change)="setSize(group.value)">
      <mat-button-toggle value="{{inputSize}}"> Show Best</mat-button-toggle>
      <mat-button-toggle value="{{reviews.length}}">Show All</mat-button-toggle>
    </mat-button-toggle-group>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let review of displayReviews" style="height: max-content;">
        <label mat-line> {{review.author}} </label>
        <button (click)="incUpvotes(review)" class="btn btn-success"></button>
        <span>{{review.upvotes}}</span>
        <button (click)="incDownvotes(review)" class="btn btn-danger"></button>
        <span> {{review.downvotes}}</span>
        <div mat-line style="word-wrap: break-word; width: available; white-space: normal" >
          <span>{{review.content}}</span>
          <div>
          <span>{{review.rating}} / 10</span>
          </div>
          <div>
          <span> {{review.date}}</span>
          </div>
        </div>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
</body>
</html>

